<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.akofman.cordova-config-utils-example" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordova-config-utils-example</name>
    <content src="index.html" />
    <access origin="*" />
</widget>
